body {
  background-color: #efefef;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.3);
}

.label {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 12px;
  font-family: "Quando", cursive;
  font-size: 16px;
  color: #333;
  text-align: center;
}

.inline {
  display: inline-block;
}

.center {
	display: block;
	margin: 0 auto;
	margin-top: 50px;
}

a {
  color: #00136b;
  font-weight: normal;
}